/* .container {
  position:relative;
} */
.toolbar-top {
  display: block;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  background: #1916ce;
  box-shadow: 0px 9px 8px rgb(0 0 0 / 20%);
}
.toolbar-top > .backicon > .fa-arrow-left {
  position: fixed;
  top: 1rem;
  z-index: 999;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  margin-left: 1rem;

}

.toolbar-top > .menuicon > .fa-bars {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 999;
  color: rgb(252, 252, 252);
  font-size: 1.5rem;

}

/* menu side */
/* https://stackoverflow.com/questions/16989585/css-3-slide-in-from-left-transition */


.menu_side {
  /* opacity: 0; */
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  transition: opacity .25s ease-in-out;
  z-index: 10;

}


.menu_side__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.menu_side-state {
  display: none;
}


.menu_side-state:checked + .menu_side {
  opacity: 1;
  visibility: visible;
}

.menu_side-state:checked + .menu_side .menu_side__inner {
  top: 0;
}

.menu_side__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 0.5em 0.5em;
  height: 100%;

}
.info-app {
  display: flex;
  padding-top: 10px;
}
.logo-app {
  width: 25%;
  padding-left: 10px;
}
.app-name {
  width: 80%;
  margin: auto;
  font-weight: bold;
  padding-left: 16px;
  font-size: 20px;
}

.filter-container {
  display: flex;

}
.sort-container {
  display: flex;
  padding-top: 15px;

}
.filter-label {
  width: 32%;
}
.sort-label {
  width: 40%;
}
.filter-select{
  width: 96%;
}
.hr-bottom {
  position: absolute;
  bottom: 50px;
  width: 94%;
}
.side-menu-bottom-container {
  position: absolute;
  bottom: 20px;
  width: 95%;
}
.login-text {
  margin: auto;
  font-weight: bold;
  font-size: 20px;
  color: #1916ce;
  text-align: center;
  width: 100%;

}
/* #reader {
  width: 95% !important;
  margin-top: 30vh !important;
} */
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.parent button {
  background-color: #48abe0;
  color: white;
  border: none;
  padding: 5px;
  font-size: 31px;
  height: 50px;
  width: 50px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
}

.parent button:active {
  background-color: #48abe0;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}

.parent button:not(:first-child) {
  margin-top: 10px;
}
.switch {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 100%;
}
/* menu side */
/* Search box */

.box {
  margin-top: 23px;
}
.search-box {
  position: relative;
  height: 40px;
  max-width: 40px;
  margin: auto;
  /* chỉnh độ cao bong đổ */
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25); */
  border-radius: 20px;
  transition: all 0.3s ease;
}
#check-search:checked ~ .search-box{
  /* chinh do rong search o day */
  max-width: 280px;
}
.search-box input{
 position: absolute;
 height: 100%;
 width: 100%;
 border-radius: 20px;
 background: #fff;
 outline: none;
 border: none;
 padding-left: 20px;
 font-size: 16px;
 /* chỉnh độ cao */
 top: -15px;
}
.search-box input::placeholder{
  font: 16px sans-serif;
 }
.search-box .icon{
  position: absolute;
  right: -2px;
   /* chỉnh độ cao */
  top: -15px;
  width: 40px;
  background: #FFF;
  height: 100%;
  text-align: center;
  line-height: 40px;
  color: #FF676D;
  font-size: 20px;
  border-radius: 20px;
}
#check-search:checked ~ .search-box .icon{
  background: #FF676D;
  color: #FFF;
  width: 50px;
  border-radius: 0 20px 20px 0;
}
#check-search{
  display: none;
}
/* Search box */
.filter-sort{
  width: 60%;
}
.filter-hamlet{
  flex-direction: column;
  gap: .25rem;
  margin-bottom: 0.5rem;
  width: 100%;
}
.sort{
  gap: .25rem;
  margin-bottom: 0.5rem;
  width: 85%;

}
/* https://stackoverflow.com/questions/20804016/editing-input-type-search-pseudo-element-button-x */


option {
  font-size: 1rem;
}
.list-cards {
  overflow: scroll;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 0.8rem;
  margin-top: 2rem;
}

.card {
  border: 0.2px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 0.5rem;

}
.card:hover {
  box-shadow: 3px 3px 3px #888888;
}

.card >.header-id {
  margin-bottom: .25rem;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
}
.card > .header-id >.header-id-left {
  width:50%;
}
.card > .header-id >.header-id-right {
  width:50%;
  text-align:right; /* canh cho the i icon khi dung flex*/

}
.card >.header-date {
  margin-bottom: .25rem;
  font-size: 0.8rem;
  font-weight: lighter;
  color: rgb(58, 57, 57);
  display: flex;
}
.card >.header-date >.header-date-left {
  width:50%;
}
.card >.header-date >.header-date-right {
  width:50%;
  text-align:right; /* canh cho the i icon khi dung flex*/
}
.card >.header-info {
  margin-bottom: .25rem;
  font-size: 0.8rem;
  font-weight: lighter;
  color: rgb(58, 57, 57);
  display: flex;
}
.card >.header-info >.header-info-left {
  width:50%;
}
.card >.header-info >.header-info-right {
  width:50%;
  text-align:right; /* canh cho the i icon khi dung flex*/
}
.card > .body {
  font-size: 1.1rem;
  color: #777;
  margin-left: 0.2rem;
}
.card > .footer {
  margin-bottom: .1rem;
  margin-top: .5rem;
  display: flex; /* mới chia 2 cột*/

}
.card > .footer> .footer-left {
  width:48%;
}
.card > .footer> .footer-right {
  width:50%;
}
.card > .footer> .footer-left > .fa-print {
  color: rgb(209, 22, 22);
  margin-left: 0.8rem;
  font-size: 19px;
}
.card > .footer> .footer-left > .fa-pen {
  color: rgb(169 14 229);
  margin-left: 4.5rem;
  font-size: 15px;
}
.card > .footer> .footer-right >.fa-trash {
  float:right; /* canh cho the i icon khi dung flex*/
  color: rgb(169 14 229);
  font-size: 19px;
  margin-right: 5rem;
}
.card > .footer> .footer-right >.fa-print {
  float:right; /* canh cho the i icon khi dung flex*/
  color: rgb(2, 202, 2);
  font-size: 19px;
  margin-right: -0.1rem;
}
.card > .footer> .footer-right >.fa-cash-register {
  float:right;
  color: rgb(42, 190, 22);
  font-size: 19px;
  margin-right: 1.1rem;
}
.card > .footer> .footer-left > .fa-print:active {
  color: rgb(233, 83, 83);
}
.card > .footer> .footer-right >.fa-print:active {
  color: rgb(17, 110, 5);
}
.card >.footer> .footer-right >.fa-cash-register:active {
  color: rgb(17, 110, 5);

}
.fa-pen-to-square {
  color: rgb(233, 45, 45);
  font-size: 19px;
}
.fa-pen-to-square:active {
  color: rgb(141, 31, 31);
}
.hide {
  display: none;
}
.toolbar-bottom {
  position: fixed;
  bottom: -2px;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 3rem;
  background: #1916ce;
  box-shadow: -1px -9px 7px rgb(0 0 0 / 20%);
}
/* https://stackoverflow.com/questions/30956644/fixed-toolbar-and-the-div-under-it-can-scroll */
/* modal */
.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 1rem;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  transition: opacity .25s ease;

}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 0.5em 0.5em;
  height: 50%;
  padding-top: 3.5rem;
  padding-bottom: 5rem;

}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}
/* https://stackoverflow.com/questions/13550541/media-min-width-max-width */

/* Mobile: with < 740px, 739px 46.1875em */
@media only screen and (max-width: 46.1875em) {
  .modal__inner {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .card-ghi > .ghi-body {
    font-size: 0.96rem;
  }
  .menu_side__inner {
    width: 16em;
  }
}
/* Tablet: width >= 740px 46.25em  and with < 1024px, 1023px 63.9375em */
@media only screen and (min-width:46.25em) and (max-width: 63.9375em) {
  .modal__inner {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .card-ghi > .ghi-body {
    font-size: 1.1rem;
  }
  .menu_side__inner {
    width: 30em;
  }
}
/* PC: width >= 1024px 64em */
@media only screen and (min-width: 64em) {
  .modal__inner {
    width: 60%;
    height: 100%;
    box-sizing: border-box;
  }
  .card-ghi > .ghi-body {
    font-size: 1rem;
  }
  .menu_side__inner {
    width: 35em;
  }
}

/* Other
 * =============================== */
/* body {
  padding: 1%;
  font: 1/1.5em sans-serif;
  text-align: center;
} */

.btnQr {
  cursor: pointer;
  background: #1916ce;
  /* display: inline-block; */
  height: 50px;
  width: 50px;
  border-radius: 25px;
  position: absolute;
  top: -22px;
  right: calc(50vw - 25px);
  /* 100vw =100% with 100vh =100% height- luôn canh giữa calc(50vw - 25px)-1/2 50px with của elemente */
  display: flex;
  /* auto cho QR giữ */
  box-shadow: -1px -9px 7px rgb(0 0 0 / 20%);
}

.btnQr:hover,
.btnQr:focus {
  background: #1916ce;
}

.btnQr:active {
  background: #1916ce;

}
.fa-qrcode {
  color: #f7f7f7;
  font-size: 30px;
  margin: auto;

}

/* https://codepen.io/Idered/pen/DdeoeW */
/* https://codepen.io/lexctk/pen/paQaBv */
/* https://www.youtube.com/watch?v=W9XEARppU8s */
.ghi-info {
  text-align: center;
  font-size: 1.05em;
  margin-top: 0.5em;
  font-weight: bold;
  border: 0.2px solid black;
  border-radius: 5px;

}
.ghi-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 0rem;
}

.card-ghi {
  border: 0.2px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 0.4rem;
  margin: 0.5rem 0.5rem;
}
.card-ghi > .ghi-header {
  margin-bottom: .25rem;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
}
.card-ghi > .ghi-header>.ghi-header_left {
  width:50%;
}
.card-ghi > .ghi-header>.ghi-header_right {
  width:50%;
  text-align:right; /* canh cho the i icon khi dung flex*/
}
.card-ghi > .ghi-body {
  color: #777;
  margin-left: 0.1rem;
  margin-bottom: 0.3rem;
}
.card-ghi > .ghi-footer {
  margin-bottom: .25rem;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
}
.card-ghi > .ghi-footer>.ghi-footer_left {
  width:50%;
}

.card-ghi > .ghi-footer>.ghi-footer_left > .fa-trash {
  color: rgb(209, 22, 22);
  margin-left: 0.8rem;
  font-size: 19px;
}
.card-ghi > .ghi-footer>.ghi-footer_left > .fa-trash:active {
  color: rgb(163, 83, 83);
}
.card-ghi > .ghi-footer>.ghi-footer_right {
  width:50%;
  text-align:right; /* canh cho the i icon khi dung flex*/
}

.card-ghi > .ghi-footer> .ghi-footer_right >.fa-print {
  float:right; /* canh cho the i icon khi dung flex*/
  color: rgb(2, 202, 2);
  font-size: 19px;
  margin-right: -0.1rem;
}

.card-ghi > .ghi-footer> .ghi-footer_right >.fa-print:active {
  color: rgb(17, 110, 5);
}
.card-ghi > .ghi-footer> .ghi-footer_right >.fa-sack-dollar {
  float:right; /* canh cho the i icon khi dung flex*/
  color: rgb(32, 2, 202);
  font-size: 19px;
  margin-right: 1rem;
}

.card-ghi > .ghi-footer> .ghi-footer_right >.fa-sack-dollar:active {
  color: rgb(50, 32, 151);
}
/* form data */
.col-65 > input[type=text], .col-65 >textarea, .col-65 > input[type=number], .col-65 > input[type=date] {
  width: 95%;
  padding: 12px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.col-65 > select {
  width: 102%;
  padding: 12px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
/* .col-65 > input::placeholder {
  padding: 0px 10px;
} */

.col-35 >label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-weight: bold;
}

.row_form > input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin: 15px 0px;
}
.row_form > input[type=submit]:hover {
  background-color: #45a049;
}

.container_form {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 15px;
}

.col-35 {
  float: left;
  width: 35%;
  margin-top: 20px;
}

.col-65 {
  float: left;
  width: 65%;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row_form:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/* Mobile: with < 740px, 739px 46.1875em */
@media only screen and (max-width: 46.1875em) {
  /* tach 2 row tren mobile */
  /* .col-35, .col-65, .col-65 > input[type=submit] {
    width: 99%;
    margin-top: 0;
  } */
  .col-65 > select {
    width: 106%;
    padding: 12px 5px;
  }

}
/* Tablet: width >= 740px 46.25em  and with < 1024px, 1023px 63.9375em */
@media only screen and (min-width:46.25em) and (max-width: 63.9375em) {
  .col-65 > select {
    width: 101%;
    padding: 12px 5px;
  }
  .col-65 > input[type=text], .col-65 > input[type=number], .col-65 > input[type=date] {
    width: 97%;
  }
}
/* PC: width >= 1024px 64em */
@media only screen and (min-width: 64em) {
  .col-65 > select {
    width: 98%;
    padding: 12px 5px;

  }
}
/* form data */
/* Add icon */

.addIcon {
  margin-top: 23px;
}
.addIcon-box .icon{
  position: absolute;
  right: 15px;
   /* chỉnh độ cao */
  top: -55px;
  width: 40px;
  background: #1916ce;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  font-size: 25px;
  border-radius: 20px;
}

/* Add icon */
/* selected type button */
#ttxl {
  margin-top: -1px;
}
.check {
  padding-right: 30px;
}
#ttxl input[type="checkbox"] {
  display: none;
}

#ttxl span {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid #1916ce;
  border-radius: 3px;
  color: #1916ce;
}

#ttxl input[type="checkbox"]:checked + span {
  background-color: #1916ce;
  color: rgb(255, 255, 255);
}
