/* .container {
  position:relative;
} */
.toolbar-top {
  display: block;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
  background: #1916ce;
  box-shadow: 0px 9px 8px rgb(0 0 0 / 25%);
}
.toolbar-top > .backicon > .fa-arrow-left {
  position: fixed;
  top: 2rem;
  z-index: 999;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  margin-left: 1rem;

}
.toolbar-top > .menuicon {
  display: flex;
}
.toolbar-top > .menuicon > .fa-bars {
  position: fixed;
  top: 2rem;
  right: 1rem;
  z-index: 999;
  color: rgb(252, 252, 252);
  font-size: 1.5rem;

}
/* .toolbar-top > .menuicon > .fa-bars-filter {
  position: fixed;
  top: 2rem;
  right: 1rem;
  z-index: 999;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;

} */
/* .search-wrapper {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  float: right;
  padding-right: 20%;
  width: 70%;
} */
/* Search box */

.search-box {
  position: relative;
  height: 50px;
  max-width: 50px;
  margin: auto;
  /* chỉnh độ cao bong đổ */
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25); */
  border-radius: 25px;
  transition: all 0.3s ease;
}
#check-search:checked ~ .search-box{
  /* chinh do rong search o day */
  max-width: 330px;
}
.search-box input{
 position: absolute;
 height: 100%;
 width: 100%;
 border-radius: 25px;
 background: #fff;
 outline: none;
 border: none;
 padding-left: 20px;
 font-size: 18px;
 /* chỉnh độ cao */
 top: -15px;
}
.search-box .icon{
  position: absolute;
  right: -2px;
   /* chỉnh độ cao */
  top: -15px;
  width: 50px;
  background: #FFF;
  height: 100%;
  text-align: center;
  line-height: 50px;
  color: #FF676D;
  font-size: 20px;
  border-radius: 25px;
}
#check-search:checked ~ .search-box .icon{
  background: #FF676D;
  color: #FFF;
  width: 60px;
  border-radius: 0 25px 25px 0;
}
#check-search{
  display: none;
}
/* Search box */
.filter-sort{
  display: flex;
}
.filter-hamlet{
  flex-direction: column;
  gap: .25rem;
  margin-bottom: 0.5rem;
  width: 35%;
}
.sort{
  flex-direction: column;
  gap: .25rem;
  margin-bottom: 0.5rem;
  width: 65%;
  float:right;
  padding-right: 0.5em;
}
/* https://stackoverflow.com/questions/20804016/editing-input-type-search-pseudo-element-button-x */

/* input[type="search"] {
  border: 1px solid rgb(65, 35, 235);
  padding: .2em .4em;
  border-radius: .3em;
}
input {
  font-size: 1rem;
} */
option {
  font-size: 1rem;
}
.list-cards {
  overflow: scroll;
  padding-top: 3.5rem;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 0.8rem;
  margin-top: 1rem;
  /* Xoay */
  /* position: relative;
  transform-style: preserve-3d;
  transition: all 0.8s ease; */
}

.card {
  border: 0.2px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 0.5rem;
  /* Xoay */
  /* transform-style: preserve-3d;
  transition: all 0.8s ease; */
}
.card:hover {
  box-shadow: 3px 3px 3px #888888;
}
/* .card:active {
  transform: rotateY(180deg);
} */
/* .card >.card-front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;

} */
/* .card >.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* định vị noi dung sau bằng phía trước */
  /* -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgb(125, 221, 154);
  overflow: hidden;
  transform: rotateY(180deg); */
  /* có trans mới hiện nôi dung sau */
/* }  */
.card >.card-front> .header-id {
  margin-bottom: .25rem;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
}
.card >.card-front> .header-id >.header-id-left {
  width:50%;
}
.card >.card-front> .header-id >.header-id-right {
  width:50%;
  text-align:right; /* canh cho the i icon khi dung flex*/

}
.card >.card-front>.header-date {
  margin-bottom: .25rem;
  font-size: 0.8rem;
  font-weight: lighter;
  color: rgb(58, 57, 57);
  display: flex;
}
.card >.card-front>.header-date >.header-date-left {
  width:50%;
}
.card >.card-front>.header-date >.header-date-right {
  width:50%;
  text-align:right; /* canh cho the i icon khi dung flex*/
}
.card >.card-front>.header-info {
  margin-bottom: .25rem;
  font-size: 0.8rem;
  font-weight: lighter;
  color: rgb(58, 57, 57);
  display: flex;
}
.card >.card-front>.header-info >.header-info-left {
  width:50%;
}
.card >.card-front>.header-info >.header-info-right {
  width:50%;
  text-align:right; /* canh cho the i icon khi dung flex*/
}
.card >.card-front> .body {
  font-size: 1.1rem;
  color: #777;
  margin-left: 0.2rem;
}
.card >.card-front> .footer {
  margin-bottom: .1rem;
  margin-top: .5rem;
  display: flex; /* mới chia 2 cột*/

}
.card >.card-front> .footer> .footer-left {
  width:48%;
}
.card >.card-front> .footer> .footer-right {
  width:50%;
}
.card >.card-front> .footer> .footer-left > .fa-print {
  color: rgb(209, 22, 22);
  margin-left: 0.8rem;
  font-size: 19px;
}
.card > .card-front>.footer> .footer-right >.fa-print {
  float:right; /* canh cho the i icon khi dung flex*/
  color: rgb(2, 202, 2);
  font-size: 19px;
  margin-right: -0.1rem;
}
.card >.card-front> .footer> .footer-right >.fa-cash-register {
  float:right;
  color: rgb(42, 190, 22);
  font-size: 19px;
  margin-right: 1.1rem;
}
.card > .card-front>.footer> .footer-left > .fa-print:active {
  color: rgb(233, 83, 83);
}
.card >.card-front> .footer> .footer-right >.fa-print:active {
  color: rgb(17, 110, 5);
}
.card >.card-front> .footer> .footer-right >.fa-cash-register:active {
  color: rgb(17, 110, 5);

}
.fa-pen-to-square {
  color: rgb(233, 45, 45);
  font-size: 19px;
}
.fa-pen-to-square:active {
  color: rgb(141, 31, 31);
}
.hide {
  display: none;
}
.toolbar-bottom {
  position: fixed;
  bottom: -2px;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 3rem;
  background: #1916ce;
  box-shadow: -1px -9px 7px rgb(0 0 0 / 25%);
}
/* https://stackoverflow.com/questions/30956644/fixed-toolbar-and-the-div-under-it-can-scroll */
/* modal */
.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 1rem;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  transition: opacity .25s ease;

}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 50%;
  padding-top: 5.5rem;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {

  .modal__inner {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}
@media screen and (min-width:800px) {

  .modal__inner {
    width: 80%;
    height: 100%;
    box-sizing: border-box;
  }
}
  @media screen and (min-width:1440px) {

    .modal__inner {
      width: 40%;
      height: 100%;
      box-sizing: border-box;
    }
}

/* Other
 * =============================== */
/* body {
  padding: 1%;
  font: 1/1.5em sans-serif;
  text-align: center;
} */

.btnQr {
  cursor: pointer;
  background: #1916ce;
  /* display: inline-block; */
  height: 50px;
  width: 50px;
  border-radius: 25px;
  position: absolute;
  top: -22px;
  right: calc(50vw - 25px);
  /* 100vw =100% with 100vh =100% height- luôn canh giữa calc(50vw - 25px)-1/2 50px with của elemente */
  display: flex;
  /* auto cho QR giữ */
  box-shadow: -1px -9px 7px rgb(0 0 0 / 25%);
}

.btnQr:hover,
.btnQr:focus {
  background: #1916ce;
}

.btnQr:active {
  background: #1916ce;

}
.fa-qrcode {
  color: #FF676D;
  font-size: 30px;
  margin: auto;

}

/* https://codepen.io/Idered/pen/DdeoeW */
/* https://codepen.io/lexctk/pen/paQaBv */
/* https://www.youtube.com/watch?v=W9XEARppU8s */
.ghi-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 0.8rem;
  margin-top: 1rem;
  /* Xoay */
  /* position: relative;
  transform-style: preserve-3d;
  transition: all 0.8s ease; */
}

.card-ghi {
  border: 0.2px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 0.5rem;
  /* Xoay */
  /* transform-style: preserve-3d;
  transition: all 0.8s ease; */
}
